{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .edit-custom {
    background: #21aea2;
    }

    .btn-container {
      display:flex;
      flex-direction: row;
    }
    .btn-back {
      margin-right: 20px;
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
</style>

<section class="Edit edit-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit Your Product</h3>

                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" class="btn btn-primary" type="submit" value="Edit Product"/>
                            </td>
                        </tr>
                    </table>
                </form>
            

            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}