{% extends 'base.html' %}

{% block content %}
    <h1>Galen Store</h1>

    <h5>Username:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <h5>Kamu menyimpan {{count}} item pada Galen Store</h5>
    <style>
        th {
            padding-top: 20px; /* Menambahkan 20 piksel padding atas */
            padding-bottom: 20px; /* Menambahkan 20 piksel padding bawah */
            padding-right: 10px;
        }
    </style>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Tambah</th>
            <th>Kurang</th>
            <th>Hapus</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.amount}}</td>
                <td>
                    <a href="{% url 'main:ubah_product' id=product.id jenis='tambah' %}">
                        <button>
                            Tambah Product
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:ubah_product' id=product.id jenis='kurang' %}">
                        <button>
                            Kurang Product
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:ubah_product' id=product.id jenis='hapus' %}">
                        <button>
                            Hapus Product
                        </button>
                    </a>
                </td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Buat Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}